.wrapContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
}

.content {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.row1 {
  border-left: 1px solid black;
  width: 20vw;
}

.row2 {
  border-left: 1px solid black;
  width: 25vw;
}

.row3 {
  width: 55vw;
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.row4 {
  flex: 1.2;
  border-bottom: 1px solid black;
  display: flex;
}

.adv {
  flex: 1
}

.col1 {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col2 {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.col3 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.blue {
  background: blue;
  text-align: center;
}

.roomTitle {
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.roomValue {
  color: white;
  font-size: 4em;
  margin: 0;
  padding: 0;
  font-weight: bold;
}


.patient {
  flex: 1;
}

.patient2 {
  flex: 1.25;
  display: flex;
  flex-direction: column;
}

.logo {
  resize: both;
  display: inline-block;
  width: 100%;
}

.prepareTitle {
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0;
  color: white;
  background: black;
  font-size: calc(1.5em);
  text-align: center;
  font-weight: bold;
}

.prepareTitleItem {
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0;
  font-weight: bold;
  color: white;
  background: black;
  font-size: 1.25em;
  text-align: center;
}
.noteText {
  position: absolute;
  top: 43vh;
  left: 35vw;
}

.name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
}

.title {
  border-bottom: 1px solid black;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.title2 {
  border-bottom: 1px solid black;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.border-left {
  flex: 1;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
}

.dayName {
  margin-top: 12px;
  font-size: 1.25em;
}

.time {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

.weatherIcon {
  height: 80px;
  width: 80px;
  margin-right: 20px;
}

.degree {
  font-size: 1.5em;
  font-weight: bold;
}

.wrapWeather {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toStt {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}

.sttNow {
  font-size: 6em;
  font-weight: bold;
}

.note {
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
  font-size: 1em;
}

.wrapItem {
  height: 20%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.namePatient {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sttPatient {
  margin-left: 12px;
  border: 1px solid black;
  height: 5vh;
  width: 6vw;
  padding: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  border-radius: 6px;
}

.wrapItem2 {
  min-height: calc(100% / 3);
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 5px;
}

.noteItem {
  font-size: 1em;
  padding-top: 10px;
  line-height: 1.4;
}

.proPatientNumber {
  color: red;
  flex: 1;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
}

.cls {
  color: blue;
  flex: 1;
  text-align: center;
  font-size: 4em;
  font-weight: bold;  
}

.stt {
  font-size: 1em;
}

.namePatient2 {
  /* flex: 1.5;
  display: flex;
  flex-direction: column; */
}

.sttPatient2 {
  margin-left: 10px;
  border: 1px solid black;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 8px;
}

.wrapSTT {
  flex: 1
}

.sttNumber {
  flex: 1
}

.gender {
  font-size: 0.75em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nameScroll {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
}

.scroll-left {
  height: 32px;
  margin: 0;
  overflow: hidden;
  position: relative;
  background: transparent;
  color: black;
}

.scroll-left2 {
  height: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  position: relative;
  background: transparent;
  color: black;
}

.scroll-left p {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.scroll-left2 p {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.scroll-left-room {
  padding: 0 10px;
}

.scroll-left-room p{
  line-height: 1.5;
}

.scroll-left-room .roomTitle {
  font-size: 1.5rem;
}
.scroll-left-room .roomValue {
  font-size: 4rem;
}

@media screen and (max-width: 1700px) {
  .scroll-left-room .roomValue {
    font-size: 3rem;
  }
  .prepareTitleItem,
  .prepareTitle {
    font-size: 1.2rem;
  }
}