.contentContainer {
  background: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
  background: rgb(255, 255, 255);
  height: 100px;
}

.wrapAdv {
  flex: 1.5;
  display: flex;
  flex-direction: column;
}

.wrapPatient {
  flex: 1;
  border: 1px solid #000080;
  display: flex;
  flex-direction: column;
}

.dayInfo {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.adv {
  flex: 3;
  display: flex;
  flex-direction: column;
  border: 2px solid #000080;
}

.logoHosCLS {
  width: 20vw;
}

.dayCLS {
  flex: 4;
  border: 1px solid #000080;
  display: flex;
  flex-direction: column;
}

.wrapDay {
  flex: 1;
  border: 1px solid #000080;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.day {
  font-weight: 700;
  font-size: calc(1em + 1vmin);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
}

.location {
  font-weight: 700;
  font-size: calc(1em + 1vmin);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
  width: 10vw;
}

.line {
  border: 1px solid #000080;
  height: 80px;
  width: 1px;
}

.wrapTime {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 15vw;
}

.time {
  width: 8.5vw;
  font-weight: bold;
  font-size: calc(2.5em);
  font-family: Arial, Helvetica, sans-serif;
}

.temp {
  font-weight: bold;
  font-size: calc(2em);
  line-height: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.cloud {
  width: 80px;
  height: 80px;
  margin-left: 6%;
  margin-right: 6%;
  align-self: center;
}

.result {
  font-weight: 600;
  font-size: calc(1.5em + 0.5vmax);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #000080;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  height: 80px;
}

.patient {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listPatient {
  flex: 1;
  display: flex;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #000080;
  margin: 0;
}

.listPatientCLS {
  flex: 1;
  max-height: 90vh;
  border-top: 2px solid #000080;
  border-bottom: 2px solid #000080;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.iconNew {
  height: 25px;
  width: 60px;
  resize: both;
}

.wrapInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service {
  text-align: right;
  font-weight: bold;
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.infoPatient {
  text-align: right;
  font-weight: bold;
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.itemCLS {
  flex: 1;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #000080;
  justify-content: center;
}

.namePatient {
  font-weight: bold;
  font-size: calc(1.5em + 0.5vmax);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-cls {
  width: 20%;
}

@media screen and (max-width: 1400px) {
  .day {
    font-size: 1.3rem;
  }

  .wrapTime {
    width: 10vw;
  }

  .cloud {
    width: 50px;
    height: 50px;
    margin: auto;
  }

  .logo-cls {
    width: 25%;
  }
}