.containerContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid black;
}

.item {
  color: white;
  border: 1px solid black;
}

.footer {
  height: 5vh;
  text-align: center;
}

.item1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid black;
}
.player-wrapper {
  position: relative;
  flex: 3.45;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.item2 {
  height: 50%;
  max-height: 50%;
  border: 1px solid black;
  background: rgb(0, 38, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tbn__textTable {
  font-size: calc(1.25em + 1vmin);
  text-align: center;
  color: white;
}

.tbn__textNumberTable {
  font-size: 10vw;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 0px;
  color: white;
}

.itemWeather {
  background: white;
  justify-content: flex-start;
}

.text {
  color: black;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.weatherIcon {
  display: inline-block;
  margin-right: 10px;
  width: 70px;
  height: 70px;
}

.logo {
  resize: both;
  display: inline-block;
  width: 100%;
}

.hour {
  font-size: 45px;
  font-weight: bold;
}

.wrapWeather {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border: none !important;
}

.degree {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.item3 {
  height: 10%;
  background: rgb(0, 38, 255);
  font-size: calc(1.5em + 1vmax);
  font-weight: bold;
  border: 1px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adv {
  border: 1px solid black;
  flex: 3.45;
  display: flex;
  flex-direction: column;
}

.textFrom {
  font-size: calc(3em);
  margin: 0;
  font-weight: bold;
}

.line {
  margin-right: 30px;
  margin-left: 30px;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}

.textNumber {
  font-size: calc(18em + 13vmax);
  font-weight: bold;
  margin-top: 0.5em;
}

.item4 {
  height: 90%;
  background: white;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
}

.content__img {
  display: inline-block;
  width: 300px;
  height: 100%;
}

.content__info {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 300px);
  height: 100%;
  text-align: left;
}

.content__title {
  padding: 20px 0 0 20px;
  font-size: 48px;
}

.content__description {
  padding: 20px;
  font-size: 30px;
  font-style: italic;
  color: #888888;
}

.content--skyblue {
  color: skyblue;
}

@media screen and (max-width: 1400px) {
  .textNumberTable {
    font-size: 5rem;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.scroll-left {
  /* height: 40px; */
  overflow: hidden;
  position: relative;
  background: white;
  color: black;
}

.scroll-left p {
  position: absolute;
  width: 200%;
  height: 100%;
  margin: 0;
  /* line-height: 50px; */
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 5s linear infinite;
  -webkit-animation: scroll-left 5s linear infinite;
  animation: scroll-left 5s linear infinite;
}

/* Move it (define the animation) */

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    /* Browser bug fix */
    -webkit-transform: translateX(100%);
    /* Browser bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    /* Browser bug fix */
    -webkit-transform: translateX(-100%);
    /* Browser bug fix */
    transform: translateX(-100%);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
